body {
  font-family: sans-serif;
  padding: 2rem;
  background: #649eaf;
}
button {
  margin-top: 1rem;
}

.main-content-div {
  border: black solid;
  border-radius: 10px;
  background-color: rgba(200, 237, 252, 0.432);
}